

<div class="col mb-4">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      <div class="row no-gutters">   
        <div class="col-md-12">
            <div class="card-body">
              <h4 class="card-title">{{ project.title }}</h4>              
            </div>
        </div>                     
        <div class="col-md-12">
          <div class="project-thumb-wrapper">
            {% if project.img %}
              {% include figure.liquid 
                 loading="eager" 
                 path=project.img                                                    
                 alt="project thumbnail" 
                 class="card-img" %}
            {% endif %}
          </div>
          <div class="col-md-12">
            <div class="card-body">              
              <p class="card-text text-truncate-3">{{ project.description }}</p>
            </div>
        </div>
        </div>

      </div>
    </div>
  </a>
</div>
